##useDynLib(chemometrics)
#importFrom(class)
#importFrom(e1071)
##importFrom(gclus)
##importFrom(lars)
#importFrom(MASS)
##importFrom(mclust)
#importFrom(nnet)
#importFrom(pcaPP)
#importFrom(rpart)
#importFrom(robustbase)
#importFrom(som)

import(class)
import(e1071)
#importFrom(gclus)
#importFrom(lars)
import(MASS)
#importFrom(mclust)
import(nnet)
import(pcaPP)
import(rpart)
import(robustbase)
import(som)


## Imports:
importFrom(pls,mvr)

## Exported functions:
export(alr,lassocoef,nnetEval,plotpredmvr,plotSEPmvr,prm_cv, stepwise,
       clr,lassoCV,pcaCV,plotpredprm,plotSEPprm,prm_dcv,svmEval,
       clvalidity,lmCV,pcaDiagplot,plotprm,plotsom,prm,treeEval,
       drawMahal,Moutlier,pcaVarexpl,plotresmvr,pls1_nipals,ridgeCV,
       ilr,mvr_dcv,plotcompmvr,plotresprm,pls2_nipals,RPvectors,
       knnEval,nipals,plotcompprm,plotRidge,pls_eigen,sd_trim)


